{% extends 'main.html' %}
{% block content %}

<div class="col-md-4 col-md-offset-4 panel-default" style="margin: 0 auto;">
    <form method='POST' action='.'>
    {% csrf_token %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <fieldset>
        <div class="form-group py-2">
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}:</label>
            <input
                class="form-control"
                placeholder="Your name"
                name="username"
                type="text"
                maxlength="100"
                {% if form.username.value != None %} value="{{ form.username.value|stringformat:'s' }}" {% endif %}
                required>
        </div>
        <div class="form-group py-2">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
            <input
                class="form-control"
                placeholder="yourmail@example.com"
                pattern="^[A-Za-z0-9-_]+\.?[A-Za-z0-9-_]+?@[A-Za-z0-9-]+\.[A-Za-z0-9-]+?\.?[A-Za-z0-9-]+?\.?[A-Za-z0-9-]+?"
                name="email"
                type="email"
                {% if form.email.value != None %} value="{{ form.email.value|stringformat:'s' }}" {% endif %}
                required>
        </div>
        <div class="form-group py-2">
            <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}:</label>
            <input
                class="form-control"
                placeholder="Password"
                name="password1"
                maxlength="20"
                type="password"
                {% if form.password1.value != None %} value="{{ form.password1.value|stringformat:'s' }}" {% endif %}
                required>
        </div>
        <div class="form-group py-2">
            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}:</label>
            <input
                class="form-control"
                placeholder="Password"
                name="password2"
                maxlength="20"
                type="password"
                {% if form.password2.value != None %} value="{{ form.password2.value|stringformat:'s' }}" {% endif %}
                required>
        </div>
        {{ form.errors }}
        <div class="form-group" style="margin-top:10px;">
            <input class="btn btn-md btn-primary btn-block" type="submit" value="Cadastrar-se">
            <a class="btn btn-md btn-outline-primary btn-block" href="{% url 'login' %}" >Voltar para Login</a>
        </div>        
    </fieldset>
    </form>
</div>


{% endblock content %}