{% extends 'main.html' %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<a class="btn btn-md btn-outline-primary btn-block" href="/">Voltar</a>

<br>
<br>

<h4>Estatíticas</h4>
<hr>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">#</th>
        {% for col in columns_num %}
            <th scope="col">{{ col }}</th>
        {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">Médias</th>
        {% for value in mean %}
            <td>{{ value | floatformat:2 }}</td>
        {% endfor %}
    </tr>
    <tr>
        <th scope="row">Mediana</th>
        {% for value in median %}
            <td>{{ value | floatformat:2 }}</td>
        {% endfor %}
    </tr>
    <tr>
        <th scope="row">Moda</th>
        {% for name, value in mode.items %}
            <td>
            {% for mode_item in value %}
                {{ mode_item }}<br>
            {% endfor %}
            </td>
        {% endfor %}
    </tr>
    <tr>
        <th scope="row">Quartis</th>
        {% for name, value in quartil.items %}
            <td>
            {% for quartil_item in value %}
                {{ quartil_item | floatformat:2}}<br>
            {% endfor %}
            </td>
        {% endfor %}
    </tr>
    <tr>
        <th scope="row">Variância</th>
        {% for value in variance %}
            <td>{{ value | floatformat:2 }}</td>
        {% endfor %}
    </tr>
    <tr>
        <th scope="row">Desvio Padrão</th>
        {% for value in std %}
            <td>{{ value | floatformat:2 }}</td>
        {% endfor %}
    </tr>
    <tr>
        <th scope="row">Intervalo de Confiança 99%</th>
        {% for tupla in intervaloConfianca99 %}
            <td>
                {% for value in tupla%}
                    {{ value | floatformat:2 }} <br>
                {% endfor %}
            </td>
        {% endfor %}
    </tr>
    <tr>
        <th scope="row">Intervalo de Confiança 95%</th>
        {% for tupla in intervaloConfianca95 %}
            <td>
                {% for value in tupla%}
                    {{ value | floatformat:2 }} <br>
                {% endfor %}
            </td>
        {% endfor %}
    </tr>
    <tr>
        <th scope="row">Intervalo de Confiança 90%</th>
        {% for tupla in intervaloConfianca90 %}
            <td>
                {% for value in tupla%}
                    {{ value | floatformat:2 }} <br>
                {% endfor %}
            </td>
        {% endfor %}
    </tr>
  </tbody>
</table>
</div>

<hr>
<h4>Gráficos</h4>

<form action=".">
    <div>
        <p>Qual gráfico deseja exibir?</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="graphs" type="radio" id="boxplot" value="boxplot" checkbox>
            <label class="form-check-label" for="boxplot">Boxplot</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="graphs" type="radio" id="histogram" value="histogram">
            <label class="form-check-label" for="histogram">Histograma</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="graphs" type="radio" id="scatter" value="scatter">
            <label class="form-check-label" for="scatter">Dispersão</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="graphs" type="radio" id="heatmap" value="heatmap">
            <label class="form-check-label" for="heatmap">Heatmap</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="graphs" type="radio" id="regression" value="regression">
            <label class="form-check-label" for="regression">Regressão</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="graphs" type="radio" id="confidence_interval" value="confidence_interval">
            <label class="form-check-label" for="confidence_interval">Boxplot de Intervalo de Confiança</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="graphs" type="radio" id="pvalue" value="pvalue">
            <label class="form-check-label" for="pvalue">P-Valor</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="graphs" type="radio" id="tvalue" value="tvalue">
            <label class="form-check-label" for="tvalue">T-Valor</label>
        </div>
    </div>

    <div id='confidenceSlider'>
        <br>   
        <p>Selecione o Intervalo de Confiança desejado para o boxplot:</p>
        <div class="slidecontainer">
            <input type="range" step="0.1" min="90.0" max="100.0" value="95.0" class="slider" id="seletorConfianca" name="seletor_confianca">
            <p>Confiança: <span id='confianca'></span>%</p>
        </div>
    </div>

    <script>
    var slider = document.getElementById("seletorConfianca");
    var output = document.getElementById("confianca");
    output.innerHTML = slider.value;

    slider.oninput = function() {
    output.innerHTML = this.value;
    }
    </script>

    <br>
    <div>
        <p>Quais campos deseja calcular?</p>
        {% for coluna in columns_num %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="statistics_names" id="{{ coluna }}" value="{{ coluna }}">
                <label class="form-check-label" for="{{ coluna }}">{{ coluna }}</label>    
            </div>
        {% endfor %}
        <button class="btn btn-md btn-outline-primary btn-block" type="submit">Enviar</button>
        
    </div>
</form>

{% if graph %}
{% autoescape off %}{{ graph }}{% endautoescape %}
{% endif %}

{% comment %} <form method='post' action="." class="row g-3">        
    {% csrf_token %}
    <div class="col-md-3">
        <label for="coluna1" class="form-label">Coluna 1</label>
        <select class="form-select" name="coluna1" required>
        {% for coluna in columns %}
            <option name="coluna1" value="{{ coluna }}">{{ coluna }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <label for="coluna2" class="form-label">Coluna 2</label>
        <select class="form-select" name="coluna2" required>
        {% for colunas in columns %}
            <option name="coluna2" value="{{ colunas }}">{{ colunas }}</option>
        {% endfor %}
        </select>
    </div>
    {{ columns.errors }}
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>
{% autoescape off %}{{ scatter }}{% endautoescape %}
{% endcomment %}


<hr>
<br>
<br>

{% endblock content %}