{% extends 'main.html' %}
{% block content %}

<a class="btn btn-md btn-outline-primary btn-block" href="/">Voltar</a>
<br>
<br>

<div>
    <p>Quais estatísticas deseja calcular?</p>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="mean" value="option1">
        <label class="form-check-label" for="mean">Média</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="median" value="option2">
        <label class="form-check-label" for="median">Mediana</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="mode" value="option2">
        <label class="form-check-label" for="mode">Moda</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="variance" value="option2">
        <label class="form-check-label" for="variance">Variância</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="stdesviation" value="option2">
        <label class="form-check-label" for="stdesviation">Desvio padrão</label>
    </div>
</div>

<div>
    <p>Qual gráfico deseja exibir?</p>
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="graphs" type="radio" id="boxplot" value="option1" checked>
        <label class="form-check-label" for="boxplot">Boxplot</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="graphs" type="radio" id="histogram" value="option2">
        <label class="form-check-label" for="histogram">Histograma</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="graphs" type="radio" id="dispersion" value="option2">
        <label class="form-check-label" for="dispersion">Dispersão</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" name="graphs" type="radio" id="heatmap" value="option2">
        <label class="form-check-label" for="heatmap">Heatmap</label>
    </div>
</div>


<br>
<br>

<h4>Médias</h4>
{% for name, value in mean.items %}
    <li>{{ name }}: {{ value }}</li>
{% endfor %}

<h4>Mediana</h4>
{% for name, value in median.items %}
    <li>{{ name }}: {{ value }}</li>
{% endfor %}

{% comment %} <h4>Moda</h4>
{% for name, value in mode.items %}
    <li>{{ name }}: {{ value }}</li>
{% endfor %} {% endcomment %}

<h4>Variância</h4>
{% for name, value in variance.items %}
    <li>{{ name }}: {{ value }}</li>
{% endfor %}

<h4>Desvio Padrão</h4>
{% for name, value in std.items %}
    <li>{{ name }}: {{ value }}</li>
{% endfor %}

{% autoescape off %}{{ boxplot }}{% endautoescape %}
{% autoescape off %}{{ histogram }}{% endautoescape %}
{% autoescape off %}{{ heatmap }}{% endautoescape %}

<form method='post' action="." class="row g-3">        
    {% csrf_token %}
    <div class="col-md-3">
        <label for="coluna1" class="form-label">Coluna 1</label>
        <select class="form-select" name="coluna1" required>
        {% for coluna in columns %}
            <option name="coluna1" value="{{ coluna }}">{{ coluna }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <label for="coluna2" class="form-label">Coluna 2</label>
        <select class="form-select" name="coluna2" required>
        {% for colunas in columns %}
            <option name="coluna2" value="{{ colunas }}">{{ colunas }}</option>
        {% endfor %}
        </select>
    </div>
    {{ columns.errors }}
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>


{% autoescape off %}{{ scatter }}{% endautoescape %}

{% endblock content %}