<head>
    <meta charset="UTF-8">
    <title>EasyData</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body{
            padding: 20px 0px 0px 0px;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center" style="font-weight: bold">Upload a new File</h3>
                </div>
                <div class="panel-body">
                    <form method='post' action='/file-upload' enctype="multipart/form-data">
                        <fieldset>
                            <div class="form-group" id="nome_upload">
                                <label for="">Name:</label>
                                <input class="form-control" placeholder="Insert a title" name="name" type="text" maxlength="100" required>
                            </div>
                            <div class="form-group" id="upload">
                                <label for="file">File:</label>
                                <input class="form-control" id="file" name="file" type="file" required>
                            </div>
                            <center>
                                <div><button class="btn btn-lg btn-primary" type="submit">Upload</button></div>
                                <a class="btn btn-lg btn-outline-primary" href="/authenticate">Back</a>
                            </center>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>