{% extends 'main.html' %}
{% block content %}

<div class="panel-body">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method='post' action='.' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row label-block input-text" id="nome_upload">
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
            <input class="form-control" placeholder="Insert a title" name="name" type="text" maxlength="100"
                {% if form.name.value != None %} value="{{ form.name.value|stringformat:'s' }}" {% endif %}
                required>
                {{ form.name.errors }}
        </div>
        <div class="form-group" id="upload">
            <label for="{{ form.file.id_for_label }}">{{ form.file.label }}:</label>
            <input class="form-control" id="file" name="file" type="file"
                {% if form.file.value != None %} value="{{ form.file.value|stringformat:'s' }}" {% endif %}
                required>
                {{ form.file.errors }}
        </div>
        {{ form.errors }}            
        <button class="btn btn-md btn-primary" type="submit">Upload</button>
    </form>
</div>

{% endblock content %}