<head>
    <meta charset="UTF-8">
    <title>EasyData</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body{
            padding: 20px 0px 0px 0px;
        }
    </style>
</head>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center" style="font-weight: bold">Upload a new File</h3>
            </div>
            <div class="panel-body">
                <form method='post' action='/file-upload' enctype="multipart/form-data">
                    <fieldset>
                        <div class="form-group" id="nome_upload">
                            <label for="">Name:</label>
                            <input class="form-control" placeholder="Insert a title" name="name" type="text" maxlength="100" required>
                        </div>
                        <div class="form-group" id="folder_to_upload_to">
                            <!-- This could be an option towards a file/folder structure -->
                            <!-- <label for="">Folder:</label> -->
                            <!-- <select class='form-control' name='folder'>
                                <option disabled selected value> -- </option>
                                {% for folder in user.folder.all %}
                                    {% if folder.status %}
                                        <option value='{{folder.id}}'>{{ folder.title }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select> -->
                        </div>
                        <div class="form-group" id="upload">
                            <label for="file">File:</label>
                            <input class="form-control" id="file" name="file" type="file" required>
                        </div>
                        <div>
                            <label for ="">Pick your Statistics!</label>
                                <center>
                                    <input type = "checkbox" id = "mean" name = "mean"
                                    checked>
                                    <label for = "mean">Mean</label>
                                    <input type = "checkbox" id = "median" name = "median"
                                    checked>
                                    <label for = "median">Median</label>
                                    <input type = "checkbox" id = "variance" name = "variance">
                                    <label for = "variance">Variance</label>
                                    <input type = "checkbox" id = "standard_deviation" name = "standard_deviation">
                                    <label for = "standard_deviation">Standard deviation</label>
                                </center>
                            </div>
                        </div>
                        <button class="btn btn-lg btn-success btn-block" type="submit">Upload</button>
                        <a class="btn btn-lg btn-warning btn-block" href="javascript:window.history.go(-1)">Back</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>